<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <%- include('commons/metas.html', {title: 'LA PLAZA | BACKOFFICE'}); %>
    <%- include('commons/styles.html'); %>
</head>
<!--Head Ends-->

<!--Body-->
<body>
    <div class="wrapper">
        <%- include('commons/loader.html', {hide: true}); %>
        <%- include('commons/header.html'); %>
        <%- include('commons/menu.html'); %>

        <section>
            <div class="content-wrapper">
                <div class="panel panel-warning bg-warning bg-effect">
                    <div class="panel-body">
                        <div class="row mb-lg">
                           <div class="col-sm-3 col-xs-6 text-center animated flipInX">
                              <p>Current Project</p>
                              <canvas data-classyloader="" data-height="150px" data-diameter="60" data-font-size="25px" data-percentage="60" data-speed="30" data-line-color="#23b7e5" data-remaining-line-color="#edf2f6" data-line-width="2"></canvas>
                           </div>
                           <div class="col-sm-3 col-xs-6 text-center animated flipInX">
                              <p>Current Progress</p>
                              <canvas data-classyloader="" data-height="150px" data-diameter="60" data-font-size="25px" data-percentage="30" data-speed="30" data-line-color="#f532e5" data-remaining-line-color="#edf2f6" data-line-width="2"></canvas>
                           </div>
                           <div class="col-sm-3 col-xs-6 text-center animated flipInX">
                              <p>Space Usage</p>
                              <canvas data-classyloader="" data-height="150px" data-diameter="60" data-font-size="25px" data-percentage="50" data-speed="30" data-line-color="#7266ba" data-remaining-line-color="#edf2f6" data-line-width="2"></canvas>
                           </div>
                           <div class="col-sm-3 col-xs-6 text-center animated flipInX">
                              <p>Interactions</p>
                              <canvas data-classyloader="" data-height="150px" data-diameter="60" data-font-size="25px" data-percentage="75" data-speed="30" data-line-color="#ff902b" data-remaining-line-color="#edf2f6" data-line-width="2"></canvas>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('commons/footer.html'); %>
    </div>

    <%- include('commons/scripts.html'); %>
</body>
<!--Body Ends-->
</html>

