<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <%- include('../commons/metas.html', {title: 'LA PLAZA | BACKOFFICE'}); %>
    <%- include('../commons/styles.html'); %>
</head>
<!--Head Ends-->

<!--Body-->
<body>
    <div class="wrapper">
        <div class="abs-center wd-xl">
            <!-- START panel-->
            <div class="text-center mb-xl">
                <div class="text-lg mb-lg">500</div>
                <p class="lead m0">Internal Server Error</p>
            </div>
            <ul class="list-inline text-center text-sm mb-xl">
                <li>
                    <a href="/foods" class="text-muted">Volver a la aplicación</a>
                </li>
            </ul>
            <div class="p-lg text-center">
                <span>&copy; 2018 - Ale Etevenaux</span>
            </div>
      </div>
   </div>
    

    <%- include('../commons/scripts.html'); %>
</body>
<!--Body Ends-->
</html>

