<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <%- include('../commons/metas.html', {title: 'LA PLAZA | BACKOFFICE - Actualizar alimento'}); %>
    <%- include('../commons/styles.html'); %>
    <link href="/assets/css/fileinput.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-slider.min.css" rel="stylesheet">
</head>
<!--Head Ends-->

<!--Body-->
<body>
    <div class="wrapper">
        <%- include('../commons/loader.html'); %>
        <%- include('../commons/header.html'); %>
        <%- include('../commons/menu.html'); %>

        <section>
            <div class="content-wrapper">
                <h3>
                    Actualizar alimento <small>desde esta pantalla vas a poder actualizar los datos de cada alimento que necesites y/o tengas en tu local</small>
                </h3>
                <form id="form" action="/foods" method="POST" enctype="multipart/form-data" class="">
                    <div class="panel panel-warning">
                        <div class="panel-heading panel-heading-slim"></div>
                        <div class="panel-body">
                            <fieldset>
                                <legend>
                                    <span class="text-uppercase text-warning">Infomación básica</span>
                                    <h6 class="text-muted pull-right"><b>*</b> Esta información sera visualizada por los usuarios finales de la aplicación</h6>
                                </legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Imagen</label>
                                    <div class="col-sm-10">
                                        <div class="fileinput <% if (food.image) { %>fileinput-exists<% } else { %>fileinput-new<% } %>" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail" style="width: 80px; height: 80px;">
                                                <img src="http://via.placeholder.com/80x80" alt="image">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 80px; max-height: 80px;">
                                                <% if (food.image) { %>
                                                    <img src="data:image/png;base64,<%= food.image %>" style="width: 80px; height: 80px;">
                                                <% } %>
                                            </div>
                                            <div>
                                                <span class="btn btn-lg btn-warning btn-file">
                                                    <span class="fileinput-new">Agregar imagen</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    <input type="file" name="image" accept=".jpg, .jpeg, .png">
                                                </span>
                                                <a href="#" class="btn btn-lg btn-labeled btn-danger fileinput-exists" data-dismiss="fileinput">
                                                    <span class="btn-label">
                                                        <i class="fa fa-times"></i>
                                                    </span>
                                                    Remover
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Título</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="title" name="title" placeholder="Título..." value="<%= food.title %>" class="form-control">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Marca</label>
                                    <div class="col-sm-10">
                                        <select id="idFoodBrand" name="idFoodBrand" class="form-control m-b <%= food.idFoodBrand %>">
                                            <% if (locals.foodBrands && locals.foodBrands.length) { %>
                                                <% for (var i = 0, l = foodBrands.length; i < l; i++) { %>
                                                    <option class="<%= typeof food.idFoodBrand %> <%= typeof foodBrands[i].id %>" value="<%= foodBrands[i].id %>" <% if (food.idFoodBrand == foodBrands[i].id) { %>selected<% } %> ><%= foodBrands[i].description %></option>
                                                <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Información detallada</label>
                                    <div class="col-sm-10">
                                        <div data-role="editor-toolbar" data-target="#editor" class="btn-toolbar btn-editor">
                                            <div class="btn-group dropdown">
                                                <a data-toggle="dropdown" title="Font Size" class="btn btn-default">
                                                    <em class="fa fa-text-height"></em>&nbsp;<b class="caret"></b>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="" data-edit="fontSize 5" style="font-size:24px">Grande</a>
                                                    </li>
                                                    <li>
                                                        <a href="" data-edit="fontSize 3" style="font-size:18px">Normal</a>
                                                    </li>
                                                    <li>
                                                        <a href="" data-edit="fontSize 1" style="font-size:14px">Pequeña</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <a data-edit="bold" data-toggle="tooltip" title="Negrita (Ctrl/Cmd+B)" class="btn btn-default">
                                                    <em class="fa fa-bold"></em>
                                                </a>
                                                <a data-edit="italic" data-toggle="tooltip" title="Italic (Ctrl/Cmd+I)" class="btn btn-default">
                                                    <em class="fa fa-italic"></em>
                                                </a>
                                                <a data-edit="strikethrough" data-toggle="tooltip" title="Strikethrough" class="btn btn-default">
                                                    <em class="fa fa-strikethrough"></em>
                                                </a>
                                                <a data-edit="underline" data-toggle="tooltip" title="Sub-Rayado (Ctrl/Cmd+U)" class="btn btn-default">
                                                    <em class="fa fa-underline"></em>
                                                </a>
                                            </div>
                                            <div class="btn-group">
                                                <a data-edit="insertunorderedlist" data-toggle="tooltip" title="Lista de viñetas" class="btn btn-default">
                                                    <em class="fa fa-list-ul"></em>
                                                </a>
                                                <a data-edit="insertorderedlist" data-toggle="tooltip" title="Lista de numerica" class="btn btn-default">
                                                    <em class="fa fa-list-ol"></em>
                                                </a>
                                                <a data-edit="outdent" data-toggle="tooltip" title="Reducir sangría (Shift+Tab)" class="btn btn-default">
                                                    <em class="fa fa-dedent"></em>
                                                </a>
                                                <a data-edit="indent" data-toggle="tooltip" title="Sangría (Tab)" class="btn btn-default">
                                                    <em class="fa fa-indent"></em>
                                                </a>
                                            </div>
                                            <div class="btn-group">
                                                <a data-edit="justifyleft" data-toggle="tooltip" title="Alinear a la izquierda (Ctrl/Cmd+L)" class="btn btn-default">
                                                    <em class="fa fa-align-left"></em>
                                                </a>
                                                <a data-edit="justifycenter" data-toggle="tooltip" title="Centrar (Ctrl/Cmd+E)" class="btn btn-default">
                                                    <em class="fa fa-align-center"></em>
                                                </a>
                                                <a data-edit="justifyright" data-toggle="tooltip" title="Alinear a la derecha (Ctrl/Cmd+R)" class="btn btn-default">
                                                    <em class="fa fa-align-right"></em>
                                                </a>
                                                <a data-edit="justifyfull" data-toggle="tooltip" title="Justificar (Ctrl/Cmd+J)" class="btn btn-default">
                                                    <em class="fa fa-align-justify"></em>
                                                </a>
                                            </div>
                                            <div class="btn-group dropdown">
                                                <a data-toggle="dropdown" title="Hyperlink" class="btn btn-default">
                                                    <em class="fa fa-link"></em>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <div class="input-group ml-xs mr-xs">
                                                        <input id="LinkInput" placeholder="URL" type="text" data-edit="createLink" class="form-control input-sm">
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-sm btn-default">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a data-edit="unlink" data-toggle="tooltip" title="Remover Hyperlink" class="btn btn-default">
                                                    <em class="fa fa-cut"></em>
                                                </a>
                                            </div>
                                            <div class="btn-group pull-right">
                                                <a data-edit="undo" data-toggle="tooltip" title="Deshacer (Ctrl/Cmd+Z)" class="btn btn-default">
                                                    <em class="fa fa-undo"></em>
                                                </a>
                                                <a data-edit="redo" data-toggle="tooltip" title="Rehacer (Ctrl/Cmd+Y)" class="btn btn-default">
                                                    <em class="fa fa-repeat"></em>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="description" style="overflow:scroll; height:100px;max-height:250px" class="form-control wysiwyg mt-lg"><%= food.detailDescription %></div>
                                        <textarea id="detailDescription" name="detailDescription" rows="1" class="hide" placeholder="Información detallada..." ></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Información técnica</label>
                                    <div class="col-sm-10">
                                        <textarea id="tecnicalDescription" name="tecnicalDescription" rows="4" class="mb-lg form-control" placeholder="Información técnica..." ><%= food.tecnicalDescription %></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Tipo de alimento</label>
                                    <div class="col-sm-10">
                                        <select id="idFoodCategory" name="idFoodCategory" class="form-control m-b <%= food.idFoodCategory %>">
                                            <% if (locals.foodCategories && locals.foodCategories.length) { %>
                                                <% for (var i = 0, l = foodCategories.length; i < l; i++) { %>
                                                    <option class="<%= typeof food.idFoodCategory %> <%= typeof foodCategories[i].id %>" value="<%= foodCategories[i].id %>" <% if (food.idFoodCategory == foodCategories[i].id) { %>selected<% } %> ><%= foodCategories[i].description %></option>
                                                <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading panel-heading-slim"></div>
                        <div class="panel-body">
                            <fieldset>
                                <legend>
                                    <span class="text-uppercase text-warning">Infomación interna</span>
                                    <h6 class="text-muted pull-right"><b>*</b> Esta información sera visualizada solo por el dueño del local</h6>
                                </legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Stock</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input type="text" id="stock" name="stock" type="number" value="<%= food.stock %>" min="0" max="200" class="form-control text-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Peso</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input type="text" id="weight" name="weight" type="number" value="<%= food.weight %>" min="1" max="100" class="form-control text-center">
                                            </div>
                                        </div>
                                        <span class="help-block m-b-none">de la bolsa en KG</span>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Precio</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text" id="pricePouch" name="pricePouch" type="text" value="<%= food.price.pouch %>" placeholder="0.00" class="form-control text-right" data-parsley-type="number">
                                                    <span class="input-group-addon">x BOLSA</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text" id="priceKG" name="priceKG" type="text" value="<%= food.price.kg %>" placeholder="0.00" class="form-control text-right" data-parsley-type="number">
                                                    <span class="input-group-addon">x KG</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="pull-left">
                            <button type="submit" class="btn btn-lg btn-labeled btn-warning m-t-10 hidden-xs">
                                <span class="btn-label">
                                    <i class="fa fa-check"></i>
                                </span>
                                Guardar
                            </button>
                            <button type="submit" class="btn btn-lg btn-circle btn-warning m-t-10 visible-xs">
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                        <div class="pull-left pl-lg">
                            <a href="/foods" class="btn btn-lg btn-labeled btn-danger m-r-10 m-t-10 hidden-xs">
                                <span class="btn-label">
                                    <i class="fa fa-times"></i>
                                </span>
                                Cancelar
                            </a>
                            <a href="/foods" class="btn btn-lg btn-circle btn-danger m-r-10 m-t-10 visible-xs">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="pull-left pl-lg">
                            <button type="button" class="btn btn-lg btn-labeled btn-default btn-clean m-r-10 m-t-10 hidden-xs">
                                <span class="btn-label">
                                    <i class="fa fa-trash"></i>
                                </span>
                                Limpiar
                            </button>
                            <button type="button" class="btn btn-lg btn-circle btn-default btn-clean m-r-10 m-t-10 visible-xs">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <%- include('../commons/footer.html'); %>
    </div>

    <%- include('../commons/scripts.html'); %>
    <script src="/assets/js/bootstrap.number.min.js"></script>
    <script src="/assets/js/bootstrap.wysiwyg.min.js"></script>
    <script src="/assets/js/jquery.hotkeys.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/jquery.fileinput.js"></script>
    <script>
        $(function(){
            var $form = $("#form");
            var $description = $('#description');
            var $pricePouch = $('#pricePouch');
            var $priceKG = $('#priceKG');
            var $weight = $('#weight');
            var $stock = $('#stock');

            $description.wysiwyg();
            $weight.bootstrapNumber({
                events: {
                    'bn:change': calculatePriceKG
                }
            });
            $stock.bootstrapNumber();

            $form.validate({
                rules: {
                    title: {
                        required: true,
                        minlength: 5
                    },
                    tecnicalDescription: {
                        required: true
                    },
                    idFoodBrand: {
                        required: true
                    },
                    idFoodCategory: {
                        required: true
                    },
                    weight: {
                        required: true
                    },
                    stock: {
                        required: true
                    }
                },
                messages: {
                    title: {
                        required: '<em class=\'fa fa-warning\'></em> Por favor ingrese un título'
                    },
                    tecnicalDescription: '<em class=\'fa fa-warning\'></em> Por favor ingrese la información técnica',
                    idFoodBrand: '<em class=\'fa fa-warning\'></em> Por favor ingrese la marca del alimento',
                    idFoodCategory: '<em class=\'fa fa-warning\'></em> Por favor ingrese el tipo de alimento',
                    weight: '<em class=\'fa fa-warning\'></em> Por favor ingrese un peso exacto',
                    stock: '<em class=\'fa fa-warning\'></em> Por favor ingrese un stock aproximado o exacto'
                },
                errorPlacement: function errorPlacement(error, element) {
                    element.before(error);
                },
                submitHandler: function(form) {
                    var description = $description.text();

                    if (description.length <= 0) {
                        $.notify('<em class=\'fa fa-warning\'></em> Por favor ingrese la información detallada', {
                            status: 'danger'
                        });
                        return false;
                    }
                    $("#detailDescription").val(description);
                    
                    confirmUpdate({
                        url: '/foods/<%= food.id %>',
                        type: 'Alimento',
                        data: $form.serializeFiles(),
                        ajax: {
                            cache: false,
                            processData: false,
                            contentType: false
                        },
                        done: function() {
                            // window.location.href = '/foods';
                        }
                    });
                    return false;
                }
            });

            $('.btn-clean').on('click', cleanForm);
            $pricePouch.on('keyup', calculatePriceKG);
            $priceKG.on('keyup', markEditedPriceKG);

            function confirmUpdate(options) {
                options = options || {};

                swal(_.defaults(options.alert || {}, {
                    title: '¿Estás seguro?',
                    text: 'Vas a actualizar ' + options.type,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#e67e22',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    closeOnConfirm: !!options.silent,
                    closeOnCancel: true
                }),
                function (isConfirm) {
                    if (isConfirm) {
                        return updateFood(options);
                    }
                    (options.always || _.noop)();
                });
            }

            function updateFood(options) {
                options = options || {};

                $.ajax(_.defaults(options.ajax || {}, {
                    url: options.url,
                    method: 'put',
                    dataType: 'json',
                    data: options.data || {}
                }))
                .done(function() {
                    (options.done || _.noop)();

                    if (!options.silent) {
                        swal({
                            title: '¡' + options.type + ' actualizado!',
                            type: 'success',
                            text: '¡Dirigete a los alimentos para ver el item recien actualizado!'
                        });
                        cleanForm();
                    }
                })
                .fail(function(e) {
                    (options.fail || _.noop)(e);

                    if (!options.silent) {
                        toastr.error('Lo sentimos, no podemos actualizar el ' + options.type, 'Por favor, póngase en contacto con el soporte de backoffice comodinx@hotmail.com');
                    }
                })
                .always((options.always || _.noop));
            }

            function cleanForm() {
                $('#title').val('<%= food.title %>');
                $('#detailDescription').text('<%= food.detailDescription %>');
                $('#tecnicalDescription').val('<%= food.tecnicalDescription %>');
                $('#idFoodBrand option')
                    .removeAttr('selected')
                    .find('[value="<%= food.idFoodBrand %>"]')
                    .attr('selected','selected');
                $('#idFoodCategory option')
                    .removeAttr('selected')
                    .find('[value="<%= food.idFoodCategory %>"]')
                    .attr('selected','selected');
                $('.fileinput').fileinput('clear');
                $pricePouch.val('<%= food.price.pouch %>');
                $priceKG.val('<%= food.price.kg %>');
                $weight.bootstrapNumber('val', <%= food.weight %>);
                $stock.bootstrapNumber('val', <%= food.stock %>);
            }

            function calculatePriceKG() {
                let value = $(this).val();
                let number = Number(value);

                if (!value || !number) {
                    return true;
                }
                if ($priceKG.hasClass('price-edited')) {
                    return true;
                }
                $priceKG.val(parseInt(number / Number($('#weight').val())));
            }

            function markEditedPriceKG() {
                $priceKG.addClass('price-edited');
            }
        });
    </script> 
</body>
<!--Body Ends-->
</html>
