<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <%- include('../commons/metas.html', {title: 'LA PLAZA | BACKOFFICE - Alimentos'}); %>
    <%- include('../commons/styles.html'); %>
</head>
<!--Head Ends-->

<!--Body-->
<body>
    <div class="wrapper">
        <%- include('../commons/loader.html'); %>
        <%- include('../commons/header.html'); %>
        <%- include('../commons/menu.html'); %>

        <section>
            <div class="content-wrapper">
                <h3>
                    <div class="clearfix pull-right animated bounceIn">
                        <a href="/foods/add" class="btn btn-lg btn-labeled btn-warning hidden-xs">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            Cargar un nuevo alimento
                        </a>
                        <a href="/foods/add" class="btn btn-lg btn-circle btn-warning visible-xs">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    Alimentos <small>desde esta pantalla vas a poder cargar todos los productos que necesites y/o tengas en tu local</small>
                </h3>
                <% if (locals.foods && locals.foods.length) { %>
                    <div class="row">
                        <% for (var i = 0, l = foods.length; i < l; i++) { %>
                            <div class="col-lg-3 product-item product-item-<%= foods[i].id %>">
                                <div class="panel animated fadeIn">
                                    <div class="product-image">
                                        <div class="product-front-image">
                                            <% if (foods[i].image) { %>
                                                <img src="data:image/png;base64,<%= foods[i].image %>" class="img-responsive" >
                                            <% } else { %>
                                                <img src="http://via.placeholder.com/200x250" class="img-responsive" >
                                            <% } %>
                                        </div>
                                        <div class="product-quick-view hidden-xs">
                                            <div class="product-actions">
                                                <div class="row">
                                                    <div class="col-sm-6 text-center">
                                                        <a href="/foods/<%= foods[i].id %>/edit" class="btn-edit">
                                                            <span class="fa-stack fa-2x">
                                                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                                                <i class="fa fa-pencil fa-stack-1x" style="font-size: 75%;"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-6 text-center">
                                                        <a href="#" class="btn-remove" data-food="<%= foods[i].id %>">
                                                            <span class="fa-stack fa-2x">
                                                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                                                <i class="fa fa-trash fa-stack-1x" style="font-size: 75%;"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 text-center">
                                                        <h2 class="product-item-stock mb0"><%= foods[i].stock %></h2>
                                                        <small>STOCK</small>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 text-center">
                                                        <a href="#" class="btn-increase" data-food="<%= foods[i].id %>" data-stock="<%= foods[i].stock %>">
                                                            <span class="fa-stack fa-2x">
                                                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                                                <i class="fa fa-plus fa-stack-1x" style="font-size: 75%;"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-6 text-center">
                                                        <a href="#" class="btn-decrease" data-food="<%= foods[i].id %>" data-stock="<%= foods[i].stock %>">
                                                            <span class="fa-stack fa-2x">
                                                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                                                <i class="fa fa-minus fa-stack-1x" style="font-size: 75%;"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-quick-view visible-xs">
                                            <div class="product-actions">
                                                <div class="row">
                                                    <div class="col-xs-3 pl0 text-center">
                                                        <a href="/foods/<%= foods[i].id %>/edit" class="btn-edit">
                                                            <span class="fa-stack fa-2x">
                                                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                                                <i class="fa fa-pencil fa-stack-1x" style="font-size: 75%;"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-3 pl0 text-center">
                                                        <a href="#" class="btn-remove" data-food="<%= foods[i].id %>">
                                                            <span class="fa-stack fa-2x">
                                                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                                                <i class="fa fa-trash fa-stack-1x" style="font-size: 75%;"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-3 pl0 text-center">
                                                        <a href="#" class="btn-increase" data-food="<%= foods[i].id %>" data-stock="<%= foods[i].stock %>">
                                                            <span class="fa-stack fa-2x">
                                                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                                                <i class="fa fa-plus fa-stack-1x" style="font-size: 75%;"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-3 pl0 text-center">
                                                        <a href="#" class="btn-decrease" data-food="<%= foods[i].id %>" data-stock="<%= foods[i].stock %>">
                                                            <span class="fa-stack fa-2x">
                                                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                                                <i class="fa fa-minus fa-stack-1x" style="font-size: 75%;"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <p class="clearfix">
                                            <span class="pull-left">
                                                <small class="mr-sm"><%= fromNow(foods[i].createdAt) %></small>
                                            </span>
                                            <span class="pull-right">
                                                <span class="product-item-stock"><%= foods[i].stock %></span> <small class="mr-sm">STOCK</small>
                                            </span>
                                        </p>
                                        <h4>
                                            <a href="/foods/<%= foods[i].id %>/edit"><%= foods[i].title %></a>
                                        </h4>
                                        <% if (foods[i].detailDescription) { %>
                                            <p><%= cutText(foods[i].detailDescription) %></p>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </section>

        <%- include('../commons/footer.html'); %>
    </div>

    <%- include('../commons/scripts.html'); %>
    <script>
        $(function(){
            var $form = $("#form-search");

            $form.on('submit', function() {
                return false;
            });

            $('input', $form).on('focus', filter);
            $('input', $form).on('keyup', filter);

            function filter() {
                $('.product-item:contains('+ this.value +')').removeClass('hide');
                $('.product-item:not(:contains('+ this.value +'))').addClass('hide');
            }

            $('.btn-remove').on('click', function() {
                var id = $(this).data('food');

                confirmRemove({
                    url: '/foods/' + id,
                    type: 'Alimento',
                    data: $form.serializeFiles(),
                    ajax: {
                        cache: false,
                        processData: false,
                        contentType: false
                    },
                    done: function() {
                        $('.product-item.product-item-' + id).hide(function() {
                            $(this).remove();
                        });
                    }
                });
                return false;
            });

            function confirmRemove(options) {
                options = options || {};

                swal(_.defaults(options.alert || {}, {
                    title: '¿Estás seguro?',
                    text: 'Vas a eliminar ' + options.type,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#e67e22',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    closeOnConfirm: !!options.silent,
                    closeOnCancel: true
                }),
                function (isConfirm) {
                    if (isConfirm) {
                        return removeFood(options);
                    }
                    (options.always || _.noop)();
                });
            }

            function removeFood(options) {
                options = options || {};

                $.ajax(_.defaults(options.ajax || {}, {
                    url: options.url,
                    method: 'delete',
                    dataType: 'json',
                    data: options.data || {}
                }))
                .done(function() {
                    (options.done || _.noop)();

                    if (!options.silent) {
                        swal({
                            title: '¡' + options.type + ' eliminado!',
                            type: 'success',
                            text: '¡El alimento se elimino correctamente!'
                        });
                    }
                })
                .fail(function(e) {
                    (options.fail || _.noop)(e);

                    if (!options.silent) {
                        toastr.error('Lo sentimos, no podemos eliminar el ' + options.type, 'Por favor, póngase en contacto con el soporte de backoffice comodinx@hotmail.com');
                    }
                })
                .always((options.always || _.noop));
            }

            $('.btn-increase').on('click', function() {
                return prepareToogleFoodStock($(this), 'increase');
            });

            $('.btn-decrease').on('click', function() {
                return prepareToogleFoodStock($(this), 'decrease');
            });

            function prepareToogleFoodStock($btn, action) {
                var id = $btn.data('food');
                var stock = Number($btn.data('stock'));

                if (stock <= 0 || stock >= 200) {
                    return false;
                }

                toogleFoodStock({
                    url: '/foods/' + id + '/stock/' + action,
                    type: 'Alimento',
                    ajax: {
                        cache: false,
                        processData: false,
                        contentType: false
                    },
                    done: function() {
                        var $product = $('.product-item.product-item-' + id);

                        stock += action === 'increase' ? 1 : -1;

                        $('.product-item-stock', $product).text(String(stock));
                        $('.btn-increase', $product).data('stock', String(stock));
                        $('.btn-decrease', $product).data('stock', String(stock));
                    }
                });
                return false;
            }

            function toogleFoodStock(options) {
                options = options || {};

                $.ajax(_.defaults(options.ajax || {}, {
                    url: options.url,
                    method: 'put',
                    dataType: 'json',
                    data: options.data || {}
                }))
                .done(function() {
                    (options.done || _.noop)();

                    if (!options.silent) {
                        toastr.clear();
                        setTimeout(function() {
                            toastr.success('¡' + options.type + ' actualizado!', '¡El alimento se actualizo correctamente!');
                        }, 100);
                    }
                })
                .fail(function(e) {
                    (options.fail || _.noop)(e);

                    if (!options.silent) {
                        
                        toastr.clear();
                        setTimeout(function() {
                            toastr.error('Lo sentimos, no podemos actualizar el ' + options.type, 'Por favor, póngase en contacto con el soporte de backoffice comodinx@hotmail.com');
                        }, 100);
                    }
                })
                .always((options.always || _.noop));
            }
        });
    </script>
</body>
<!--Body Ends-->
</html>
