﻿
#toast-container.toast-bottom-center>div,
#toast-container.toast-top-center>div {
    margin: 10px auto 0
}
#toast-container>.toast-info,
#toast-container>.toast-error,
#toast-container>.toast-warning,
#toast-container>.toast-success {
    background-image: none
}
#toast-container>div {
    background: #fff;
    padding: 20px;
    color: #6a6c6f;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 1
}
#toast-container>div:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2)
}
.toast-close-button {
    color: #000;
    opacity: .2
}
.toast-info {
    background: #fff;
    border-left: 6px solid #3498db
}
.toast-success {
    background: #fff;
    border-left: 6px solid #62cb31
}
.toast-warning {
    background: #fff;
    border-left: 6px solid #CD6A02
}
.toast-error {
    background: #fff;
    border-left: 6px solid #e74c3c
}
.toast-progress {
    opacity: .6
}
.toast-info .toast-progress {
    background-color: #3498db
}
.toast-success .toast-progress {
    background-color: #62cb31
}
.toast-warning .toast-progress {
    background-color: #CD6A02
}
.toast-error .toast-progress {
    background-color: #e74c3c
}

.topnavbar .navbar-header .brand-logo > img,
.topnavbar .navbar-header .brand-logo-collapsed > img {
  height: 30px;
}

.sidebar > .nav > li > a > em.fa,
.sidebar > .nav > li > .nav-item > em.fa {
  text-align:  center;
}

.bg-info.bg-effect {
  background-color: #23b7e5;
  background-image: -webkit-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
  background-image: -o-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
  background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff51c6ea', GradientType=1);
}

.bg-info-dark.bg-effect {
  background-color: #1797be;
  background-image: -webkit-linear-gradient(left, #1797be 0%, #23b7e5 100%);
  background-image: -o-linear-gradient(left, #1797be 0%, #23b7e5 100%);
  background-image: linear-gradient(to right, #1797be 0%, #23b7e5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1797be', endColorstr='#ff23b7e5', GradientType=1);
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
  background: #23b7e5;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active {
  background-color: #23b7e5;
  border-color: #23b7e5;
}

.wizard > .actions a:focus,
.wizard > .actions a:hover:focus,
.wizard > .actions a:active:focus,
.wizard > .actions a.focus,
.wizard > .actions a:hover.focus,
.wizard > .actions a:active.focus {
  background-color: #1aacda;
  border-color: #179ac3;
}
.wizard > .actions a:hover,
.wizard > .actions a:hover:hover,
.wizard > .actions a:active:hover {
  background-color: #1aacda;
  border-color: #179ac3;
}
.wizard > .actions a:active,
.wizard > .actions a:hover:active,
.wizard > .actions a:active:active,
.wizard > .actions a.active,
.wizard > .actions a:hover.active,
.wizard > .actions a:active.active,
.open > .dropdown-toggle.wizard > .actions a,
.open > .dropdown-toggle.wizard > .actions a:hover,
.open > .dropdown-toggle.wizard > .actions a:active {
  background-color: #1aacda;
  border-color: #179ac3;
}
.wizard > .actions a:active:hover,
.wizard > .actions a:hover:active:hover,
.wizard > .actions a:active:active:hover,
.wizard > .actions a.active:hover,
.wizard > .actions a:hover.active:hover,
.wizard > .actions a:active.active:hover,
.open > .dropdown-toggle.wizard > .actions a:hover,
.open > .dropdown-toggle.wizard > .actions a:hover:hover,
.open > .dropdown-toggle.wizard > .actions a:active:hover,
.wizard > .actions a:active:focus,
.wizard > .actions a:hover:active:focus,
.wizard > .actions a:active:active:focus,
.wizard > .actions a.active:focus,
.wizard > .actions a:hover.active:focus,
.wizard > .actions a:active.active:focus,
.open > .dropdown-toggle.wizard > .actions a:focus,
.open > .dropdown-toggle.wizard > .actions a:hover:focus,
.open > .dropdown-toggle.wizard > .actions a:active:focus,
.wizard > .actions a:active.focus,
.wizard > .actions a:hover:active.focus,
.wizard > .actions a:active:active.focus,
.wizard > .actions a.active.focus,
.wizard > .actions a:hover.active.focus,
.wizard > .actions a:active.active.focus,
.open > .dropdown-toggle.wizard > .actions a.focus,
.open > .dropdown-toggle.wizard > .actions a:hover.focus,
.open > .dropdown-toggle.wizard > .actions a:active.focus {
  background-color: #1aacda;
  border-color: #179ac3;
}
.wizard > .actions a.disabled,
.wizard > .actions a:hover.disabled,
.wizard > .actions a:active.disabled,
.wizard > .actions a[disabled],
.wizard > .actions a:hover[disabled],
.wizard > .actions a:active[disabled],
fieldset[disabled] .wizard > .actions a,
fieldset[disabled] .wizard > .actions a:hover,
fieldset[disabled] .wizard > .actions a:active,
.wizard > .actions a.disabled:hover,
.wizard > .actions a:hover.disabled:hover,
.wizard > .actions a:active.disabled:hover,
.wizard > .actions a[disabled]:hover,
.wizard > .actions a:hover[disabled]:hover,
.wizard > .actions a:active[disabled]:hover,
fieldset[disabled] .wizard > .actions a:hover,
fieldset[disabled] .wizard > .actions a:hover:hover,
fieldset[disabled] .wizard > .actions a:active:hover,
.wizard > .actions a.disabled:focus,
.wizard > .actions a:hover.disabled:focus,
.wizard > .actions a:active.disabled:focus,
.wizard > .actions a[disabled]:focus,
.wizard > .actions a:hover[disabled]:focus,
.wizard > .actions a:active[disabled]:focus,
fieldset[disabled] .wizard > .actions a:focus,
fieldset[disabled] .wizard > .actions a:hover:focus,
fieldset[disabled] .wizard > .actions a:active:focus,
.wizard > .actions a.disabled.focus,
.wizard > .actions a:hover.disabled.focus,
.wizard > .actions a:active.disabled.focus,
.wizard > .actions a[disabled].focus,
.wizard > .actions a:hover[disabled].focus,
.wizard > .actions a:active[disabled].focus,
fieldset[disabled] .wizard > .actions a.focus,
fieldset[disabled] .wizard > .actions a:hover.focus,
fieldset[disabled] .wizard > .actions a:active.focus,
.wizard > .actions a.disabled:active,
.wizard > .actions a:hover.disabled:active,
.wizard > .actions a:active.disabled:active,
.wizard > .actions a[disabled]:active,
.wizard > .actions a:hover[disabled]:active,
.wizard > .actions a:active[disabled]:active,
fieldset[disabled] .wizard > .actions a:active,
fieldset[disabled] .wizard > .actions a:hover:active,
fieldset[disabled] .wizard > .actions a:active:active,
.wizard > .actions a.disabled.active,
.wizard > .actions a:hover.disabled.active,
.wizard > .actions a:active.disabled.active,
.wizard > .actions a[disabled].active,
.wizard > .actions a:hover[disabled].active,
.wizard > .actions a:active[disabled].active,
fieldset[disabled] .wizard > .actions a.active,
fieldset[disabled] .wizard > .actions a:hover.active,
fieldset[disabled] .wizard > .actions a:active.active {
  background-color: #1aacda;
  border-color: #179ac3;
}
.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
  color: #333333;
  background: #ffffff;
  border: 1px solid #eaeaea;
}

.panel-heading.panel-heading-slim {
  padding: 1px 0;
}

.product-image {
    position: relative;
    display: block;
    overflow: hidden;
}

.product-image .product-front-image {
    display: block;
    width: auto;
    height: auto;
}

.product-image .product-front-image img {
    width: 100%;
    display: block;
    opacity: 1;
}

.product-image .product-quick-view {
    font-weight: bold;
    font-size: 78%;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}

.product-image:hover .product-quick-view {
    opacity: 1;
}

.product-image:hover .product-front-image img {
    opacity: 0.8;
}

.product-image .product-quick-view .product-actions {
    backface-visibility: hidden;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.product-image .product-quick-view .product-actions a {
    color: #fff;
}

.product-image .product-quick-view .product-actions a:hover {
    color: #c7c7c7;
}

@media (min-width: 1200px) {
    .product-image .product-quick-view {
        opacity: 0;
        height: 100%;
    }
}
