<aside class="aside">
    <!-- START Sidebar (left)-->
    <div class="aside-inner">
        <nav data-sidebar-anyclick-close="" class="sidebar">
            <!-- START sidebar nav-->
            <ul class="nav">
                <!-- Iterates over all sidebar items-->
                <li class="nav-heading ">
                    <span>Menú principal</span>
                </li>
                <li>
                    <a href="/foods" title="Home">
                        <em class="icon-basket-loaded"></em>
                        <span>Alimentos</span>
                    </a>
                </li>
                <li class="hide">
                    <a href="/foods" title="Alimentos">
                        <em class="icon-basket-loaded"></em>
                        <span>Alimentos</span>
                    </a>
                </li>
                <li>
                    <a href="/foods/categories" title="Categorías de alimento">
                        <em class="icon-layers"></em>
                        <span>Categorías de alimento</span>
                    </a>
                </li>
                <li>
                    <a href="/foods/brands" title="Marcas de alimento">
                        <em class="icon-tag"></em>
                        <span>Marcas de alimento</span>
                    </a>
                </li>
            </ul>
            <!-- END sidebar nav-->
        </nav>
    </div>
    <!-- END Sidebar (left)-->
</aside>
