<meta charset="utf-8" />
<title><%= title %></title>

<meta name="description" content="<%= title %>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
