<!--Basic Scripts-->
<script src="/assets/js/modernizr.min.js"></script>
<script src="/assets/js/matchMedia.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.ui.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.storageapi.min.js"></script>
<script src="/assets/js/jquery.easing.min.js"></script>
<script src="/assets/js/animo.js"></script>
<script src="/assets/js/screenfull.js"></script>
<script src="/assets/js/jquery.slimscroll.min.js"></script>
<script src="/assets/js/jquery.localize.min.js"></script>
<script src="/assets/js/jquery.classyloader.min.js"></script>
<script src="/assets/js/jquery.serialize.js"></script>
<script src="/assets/js/underscore.min.js"></script>
<script src="/assets/js/sweetalert.min.js"></script>
<script src="/assets/js/parsley.min.js"></script>
<script src="/assets/js/sparkline.js"></script>

<!--Beyond Scripts-->
<script src="/assets/js/theme-rtl.js"></script>
<script src="/assets/js/theme.js"></script>
<script src="/assets/js/app.js"></script>

<!--Commons Scripts-->
<script src="/assets/js/toastr/toastr.js"></script>
