<!--Basic Styles-->
<link href="/assets/css/bootstrap.css" rel="stylesheet" />
<link href="/assets/css/simple-line-icons.css" rel="stylesheet" />
<link id="bootstrap-rtl-link" href="" rel="stylesheet" />
<link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="/assets/css/weather-icons.min.css" rel="stylesheet" />
<link href="/assets/css/toast.min.css" rel="stylesheet" />
<link href="/assets/css/sweetalert.css" rel="stylesheet" />
<link href="/assets/css/animate.min.css" rel="stylesheet" />
<link href="/assets/css/whirl.css" rel="stylesheet" />

<!--Fonts-->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

<!--Beyond styles-->
<link id="maincss" href="/assets/css/theme.css" rel="stylesheet" />
<link id="autoloaded-stylesheet" href="/assets/css/themes/theme-a.css" rel="stylesheet" />
<link href="/assets/css/app.css" rel="stylesheet">
