<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <%- include('../../commons/metas.html', {title: 'LA PLAZA | BACKOFFICE - Actualizar categoría de alimento'}); %>
    <%- include('../../commons/styles.html'); %>
</head>
<!--Head Ends-->

<!--Body-->
<body>
    <div class="wrapper">
        <%- include('../../commons/loader.html'); %>
        <%- include('../../commons/header.html'); %>
        <%- include('../../commons/menu.html'); %>

        <section>
            <div class="content-wrapper">
                <h3>Actualizar categoría de alimento</h3>
                <form id="form" action="/foods/categories" method="POST" enctype="multipart/form-data" class="">
                    <div class="panel panel-warning">
                        <div class="panel-heading panel-heading-slim"></div>
                        <div class="panel-body">
                            <fieldset>
                                <legend>
                                    <span class="text-uppercase text-warning">Infomación de la categoría</span>
                                </legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Título</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="description" name="description" placeholder="Título..." value="<%= foodCategory.description %>" class="form-control">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="pull-left">
                            <button type="submit" class="btn btn-lg btn-labeled btn-warning m-t-10 hidden-xs">
                                <span class="btn-label">
                                    <i class="fa fa-check"></i>
                                </span>
                                Guardar
                            </button>
                            <button type="submit" class="btn btn-lg btn-circle btn-warning m-t-10 visible-xs">
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                        <div class="pull-left pl-lg">
                            <a href="/foods/categories" class="btn btn-lg btn-labeled btn-danger m-r-10 m-t-10 hidden-xs">
                                <span class="btn-label">
                                    <i class="fa fa-times"></i>
                                </span>
                                Cancelar
                            </a>
                            <a href="/foods/categories" class="btn btn-lg btn-circle btn-danger m-r-10 m-t-10 visible-xs">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="pull-left pl-lg">
                            <button type="button" class="btn btn-lg btn-labeled btn-default btn-clean m-r-10 m-t-10 hidden-xs">
                                <span class="btn-label">
                                    <i class="fa fa-trash"></i>
                                </span>
                                Limpiar
                            </button>
                            <button type="button" class="btn btn-lg btn-circle btn-default btn-clean m-r-10 m-t-10 visible-xs">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <%- include('../../commons/footer.html'); %>
    </div>

    <%- include('../../commons/scripts.html'); %>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script>
        $(function(){
            var $form = $("#form");
            var $description = $('#description');

            $form.validate({
                rules: {
                    description: {
                        required: true,
                        minlength: 3
                    }
                },
                messages: {
                    description: {
                        required: '<em class=\'fa fa-warning\'></em> Por favor ingrese un título',
                        minlength: '<em class=\'fa fa-warning\'></em> El título debe contener al menos 3 caracteres'
                    }
                },
                errorPlacement: function errorPlacement(error, element) {
                    element.before(error);
                },
                submitHandler: function(form) {
                    confirmUpdate({
                        url: '/foods/categories/<%= foodCategory.id %>',
                        type: 'Categoría de alimento',
                        data: $form.serializeFiles(),
                        ajax: {
                            cache: false,
                            processData: false,
                            contentType: false
                        },
                        done: function() {
                            // window.location.href = '/foods';
                        }
                    });
                    return false;
                }
            });

            $('.btn-clean').on('click', cleanForm);

            function confirmUpdate(options) {
                options = options || {};

                swal(_.defaults(options.alert || {}, {
                    title: '¿Estás seguro?',
                    text: 'Vas a actualizar ' + options.type,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#e67e22',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    closeOnConfirm: !!options.silent,
                    closeOnCancel: true
                }),
                function (isConfirm) {
                    if (isConfirm) {
                        return updateFoodCategory(options);
                    }
                    (options.always || _.noop)();
                });
            }

            function updateFoodCategory(options) {
                options = options || {};

                $.ajax(_.defaults(options.ajax || {}, {
                    url: options.url,
                    method: 'put',
                    dataType: 'json',
                    data: options.data || {}
                }))
                .done(function() {
                    (options.done || _.noop)();

                    if (!options.silent) {
                        swal({
                            title: '¡' + options.type + ' actualizada!',
                            type: 'success',
                            text: '¡Dirigete a las categorías de alimento para ver el item recien actualizado!'
                        });
                        cleanForm();
                    }
                })
                .fail(function(e) {
                    (options.fail || _.noop)(e);

                    if (!options.silent) {
                        toastr.error('Lo sentimos, no podemos actualizar la ' + options.type, 'Por favor, póngase en contacto con el soporte de backoffice comodinx@hotmail.com');
                    }
                })
                .always((options.always || _.noop));
            }

            function cleanForm() {
                $description.val('<%= foodCategory.description %>');
            }
        });
    </script> 
</body>
<!--Body Ends-->
</html>
