<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <%- include('../../commons/metas.html', {title: 'LA PLAZA | BACKOFFICE - Alimentos'}); %>
    <%- include('../../commons/styles.html'); %>
</head>
<!--Head Ends-->

<!--Body-->
<body>
    <div class="wrapper">
        <%- include('../../commons/loader.html'); %>
        <%- include('../../commons/header.html'); %>
        <%- include('../../commons/menu.html'); %>

        <section>
            <div class="content-wrapper">
                <h3>
                    <div class="clearfix pull-right animated bounceIn">
                        <a href="/foods/categories/add" class="btn btn-lg btn-labeled btn-warning hidden-xs">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            Cargar una nueva categoría
                        </a>
                        <a href="/foods/categories/add" class="btn btn-lg btn-circle btn-warning visible-xs">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    Categorías de alimento <small>desde esta pantalla vas a poder administrar todas las categorías que tengas y/o necesites para los alimentos de tu local</small>
                </h3>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="panel panel-warning">
                            <div class="panel-heading panel-heading-slim"></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 5%">#</th>
                                                <th class="text-left" style="width: 70%">Categoría</th>
                                                <th class="text-center" style="width: 15%">Fecha de actualización</th>
                                                <th class="text-center" style="width: 10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (locals.foodCategories && locals.foodCategories.length) { %>
                                                <% for (var i = 0, l = foodCategories.length; i < l; i++) { %>
                                                    <tr class="product-item product-item-<%= foodCategories[i].id %> animated fadeIn">
                                                        <td class="text-center"><%= foodCategories[i].id %></td>
                                                        <td class="text-left"><%= foodCategories[i].description %></td>
                                                        <td class="text-center"><%= foodCategories[i].updatedAt %></td>
                                                        <td class="text-center">
                                                            <div class="row">
                                                                <div class="col-sm-6 text-center">
                                                                    <a href="/foods/categories/<%= foodCategories[i].id %>/edit" class="btn-xs btn btn-outline-primary btn-edit" role="button" data-toggle="tooltip" title="Editar" data-title="Editar">
                                                                        <i class="fa fa-pencil"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="col-sm-6 text-center">
                                                                    <a href="#" class=" btn-xs btn btn-outline-danger btn-remove" data-food="<%= foodCategories[i].id %>" role="button" data-toggle="tooltip" title="Eliminar" data-title="Eliminar">
                                                                        <i class="fa fa-trash"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% } %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('../../commons/footer.html'); %>
    </div>

    <%- include('../../commons/scripts.html'); %>
    <script>
        $(function(){
            var $form = $("#form-search");

            $form.on('submit', function() {
                return false;
            });

            $('input', $form).on('focus', filter);
            $('input', $form).on('keyup', filter);

            function filter() {
                $('.product-item:contains('+ this.value +')').removeClass('hide');
                $('.product-item:not(:contains('+ this.value +'))').addClass('hide');
            }

            $('.btn-remove').on('click', function() {
                var id = $(this).data('food');

                confirmRemove({
                    url: '/foods/categories/' + id,
                    type: 'Categoría de alimento',
                    data: $form.serializeFiles(),
                    ajax: {
                        cache: false,
                        processData: false,
                        contentType: false
                    },
                    done: function() {
                        $('.product-item.product-item-' + id).hide(function() {
                            $(this).remove();
                        });
                    }
                });
                return false;
            });

            function confirmRemove(options) {
                options = options || {};

                swal(_.defaults(options.alert || {}, {
                    title: '¿Estás seguro?',
                    text: 'Vas a eliminar ' + options.type,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#e67e22',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    closeOnConfirm: !!options.silent,
                    closeOnCancel: true
                }),
                function (isConfirm) {
                    if (isConfirm) {
                        return removeFoodCategory(options);
                    }
                    (options.always || _.noop)();
                });
            }

            function removeFoodCategory(options) {
                options = options || {};

                $.ajax(_.defaults(options.ajax || {}, {
                    url: options.url,
                    method: 'delete',
                    dataType: 'json',
                    data: options.data || {}
                }))
                .done(function() {
                    (options.done || _.noop)();

                    if (!options.silent) {
                        swal({
                            title: '¡' + options.type + ' eliminada!',
                            type: 'success',
                            text: '¡La categoría de alimento se elimino correctamente!'
                        });
                    }
                })
                .fail(function(e) {
                    (options.fail || _.noop)(e);

                    if (!options.silent) {
                        toastr.error('Lo sentimos, no podemos eliminar la ' + options.type, 'Por favor, póngase en contacto con el soporte de backoffice comodinx@hotmail.com');
                    }
                })
                .always((options.always || _.noop));
            }
        });
    </script>
</body>
<!--Body Ends-->
</html>
