<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <%- include('../commons/metas.html', {title: 'LA PLAZA | BACKOFFICE - Alimentos'}); %>
    <%- include('../commons/styles.html'); %>
</head>
<!--Head Ends-->

<!--Body-->
<body>
    <div class="wrapper">
        <%- include('../commons/loader.html'); %>
        <%- include('../commons/header.html'); %>
        <%- include('../commons/menu.html'); %>

        <section>
            <div class="content-wrapper">
                <h3>
                    Políticas de Privacidad de La Plaza
                </h3>
                <p class="mb-xl">
                    <b>Privacidad de los datos personales</b>
                    <br/>
                    Sus datos personales le corresponden solo a usted y este sitio web es responsable de no revelar ninguna clase de información que le pertenezca (como email, números de ip, etc.).
                </p>
                <p class="mb-xl">
                    <b>Responsabilidad de las opiniones vertidas</b>
                    <br/>
                    Las publicaciones o artículos en nuestro blog son responsabilidad de sus propios autores.
                </p>
                <p class="mb-xl">
                    <b>Seguridad de su información personal</b>
                    <br/>
                    Este sitio web se hace responsable de velar por su seguridad, por la privacidad de su información y por el respeto a sus datos, de acuerdo con las limitaciones que la actual Internet nos provee, siendo conscientes que no estamos excluídos de sufrir algún ataque por parte de hackers o usuarios malintencionados que ejerzan la delincuencia informática.
                </p>
                <p class="mb-xl">
                    <b>Obtención de su información</b>
                    <br/>
                    Todos sus datos personales consignados en este sitio son suministrados por usted mismo, haciendo uso entero de su libertad. La información aquí almacenada solo comprende datos básicos ingresados mediante formularios de contacto, comentarios u otros similares.
                </p>
                <p class="mb-xl">
                    <b>Uso de la información</b>
                    <br/>
                    Al proporcionarnos sus datos personales, estando de acuerdo con la Política de Privacidad aquí consignada, nos autoriza para el siguiente uso de su información: a) para el fin mismo por lo cual se ha suministrado; b) para orientar mejor los servicios aquí ofrecidos y valorarlos a su criterio, y c) para enviar e-mails con nuestros boletines, responder inquietudes o comentarios, y mantener informado a nuestros usuarios.
                </p>
                <p class="mb-xl">
                    <b>Uso de los cookies</b>
                    <br/>
                    El uso de cookies y su dirección IP, tomados por este sitio, se realiza solo con la finalidad de mantenerles un sitio de acuerdo a sus preferencias locales. Las “cookies” permiten entregar un contenido ajustado a los intereses y necesidades de nuestros usuarios/visitantes.
                </p>
                <p class="mb-xl">
                    <b>Modificaciones a nuestras Políticas de Privacidad</b>
                    <br/>
                    El sitio web se reserva el derecho de modificar, rectificar, alterar, agregar o eliminar cualquier punto del presente escrito en cualquier momento y sin previo aviso, siendo su responsabilidad el mantenerse informado del mismo para una adecuada administración de su información.
                </p>
            </div>
        </section>

        <%- include('../commons/footer.html'); %>
    </div>

    <%- include('../commons/scripts.html'); %>
</body>
<!--Body Ends-->
</html>
