<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <%- include('../commons/metas.html', {title: 'LA PLAZA | BACKOFFICE - Alimentos'}); %>
    <%- include('../commons/styles.html'); %>
</head>
<!--Head Ends-->

<!--Body-->
<body>
    <div class="wrapper">
        <%- include('../commons/loader.html'); %>
        <%- include('../commons/header.html'); %>
        <%- include('../commons/menu.html'); %>

        <section>
            <div class="content-wrapper">
                <h3>
                    Terminos y Condiciones
                </h3>
                <p class="mb-lg">
                    Al hacer uso de nuestro sitio web, y/o al suscribirse a nuestros servicios, aceptas de manera inmediata y de manera incondicional los siguientes términos y condiciones. Por favor leerlos cuidadosamente. Mi Mascota puede cambiar los términos y condiciones sin previo aviso que rigen el uso por su parte de nuestro sitio, y el uso por su parte implica que usted acepta seguir los términos y condiciones que se han modificado.
                </p>
                <p class="mb-lg">
                    Al registrarse en nuestro sitio, eres consciente de que nos has proporcionado información personal (como nombre, apellido, teléfono, dirección y mail), que podremos utilizar de manera autónoma, para poder entregar de manera más efectiva nuestros servicios (incluyendo a terceros).
                </p>
                <p class="mb-lg">
                    Además, al aceptar nuestros términos y condiciones, aceptas y CONFIRMAS QUE ERES COMPLETAMENTE RESPONSABLE, DEL CONOCIMIENTO DE LO QUE LE ENTREGUES A TU MASCOTA, QUE LEES ANTES EL CONTENIDO DE LOS PRODUCTOS, VERIFICAS QUE NO EXISTA NINGUNA ALERGIA NI NADA QUE SEA DAÑINO PARA TU MASCOTA. ESTO LIBERA DE TODA RESPONSABILIDAD A Mi Mascota DE CUALQUIER DAÑO O SIMILAR A LA MASCOTA UNA VEZ ESTA USE LOS PRODUCTOS SELECCIONADOS.
                </p>
                <p class="mb-lg">
                    De querer cancelar tu cuenta (cerrarla y que quede inactiva, dejando de ser usuario de Mi Mascota), debes enviarnos un mail, donde nosotros la cerraremos por ti, notificándote posteriormente la desactivación de la cuenta.
                </p>
                <p class="mb-lg">
                    Además, al aceptar los términos y condiciones, aseguras y reconoces que eres consiente, de que aceptas nuestras políticas de despacho, así como los medios (empresas externas, en los cuales realizaremos el envío de tus pedidos.
                </p>
                <p class="mb-lg">
                    Al ser miembro de Mi Mascota, aceptas que nosotros utilicemos la información personal registrado en el sitio, tales como nombre, apellido, mail, teléfono y dirección. Además, como los despachos son por una empresa externa (de tener problemas con la empresa utilizada, utilizaremos una similar para poder despachar el producto), aceptas que esta empresa utilice la información que nos has previsto de manera incondicional, para poder despachar de manera correcta y a tiempo los pedidos realizados a Mi Mascota.
                </p>
                <p class="mb-lg">
                    Toda información entregada a Mi Mascota, mediante mail, teléfono o por escrito, nos faculta de utilizar a nuestra conveniencia dicha información, como envío de mails con información, publicidad y otros temas relacionados a Mi Mascota y todo lo que lo involucre.
                </p>
                <p class="mb-lg">
                    Además, cedes cualquier derecho de autor, de toda imagen que sea enviada a cualquier mail o similar vía web, que sea propiedad y/o utilizado por los miembros de Mi Mascota para su promoción en redes sociales o de manera tangible. Nosotros no utilizaremos las imágenes con fines de lucro, pero al ser utilizada en alguna promoción que involucre esta situación, será notificado a su dueño.
                </p>
                <p class="mb-lg">
                    Si un producto viene con calidad defectuosa, puedes contactarnos vía mail a mimascota@cableonda.net o teléfono, y nosotros lo sustituiremos por el mismo o uno similar. En el caso de que alguno de los productos estén dañados o abiertos, es responsabilidad del usuario notificar de manera inmediata a Mi Mascota, para poder reemplazar el producto, o de ser requerido por el usuario, devolver el dinero. Para esta situación, un miembro de nuestro equipo deberá revisar la mercancía y su contenido, para evaluar si efectivamente es un problema del producto, y para autorizar la medida requerida por nuestro cliente.
                </p>
                <p class="mb-lg">
                    Al momento de ser efectivo el cambio, si es re enviada un producto nuevo, el cliente debe confirmarnos vía mail la dirección a la cual debe ser despachada aunque sea la misma en la cual esté suscrito. De ser devuelto el dinero, deberá ser expresado vía mail la cuenta, con todos los datos correspondientes, para que el último día del mes, sea transferido el dinero.
                </p>
                <p class="mb-lg">
                    Nosotros nos preocupamos de manera ardua de poder hacer felices y brindar de la mejor manera nuestros servicios a nuestros usuarios, pero a pesar de esto, puedes cancelar tu pedido 24 horas antes de la fecha de envío del pedido”. SI TU NO ENVIAS EL MAIL PARA CANCELAR EL PEDIDO SE COBRARÁ EL ENVIO.
                </p>
                <p class="mb-lg">
                    Nosotros podremos cancelar de manera anticipada, y sin previo aviso el pedido del usuario si este viola cualquiera de los términos y condiciones expresadas, o cualquiera de nuestras políticas, mediante conductas y/o acciones que dañen los intereses de nuestra compañía y a los usuarios de la comunidad.
                    SALVO QUE SE EXPRESE EXPLÍCITAMENTE LO CONTRARIO EN ESTE DOCUMENTO, NUESTRO SITIO, TODO EL CONTENIDO DE NUESTRO SITIO Y TODOS LOS SERVICIOS OFRECIDOS EN RELACIÓN CON NUESTRO SITIO SE PROPOCIONAN “EN EL ESTADO EN QUE SE ENCUENTRAN” Y, EN LA MEDIDA QUE LO PERMITA LA LEY VIGENTE, Mi Mascota NO SE HACE RESPONSABLE DE NINGÚN TIPO DE GARANTÍA EN RELACIÓN CON ELLO, YA SEA DE MODO EXPRESO O IMPLÍCITO, INCLUSO, ENTRE OTRAS, LAS GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD, APTITUD PARA UN PROPÓSITO EN PARTICULAR Y DE NO VIOLACIÓN. ADEMÁS, Mi Mascota NO GARANTIZA QUE EL USO POR SU PARTE DE NUESTRO SITIO, O LA OPERACIÓN O FUNCIONAMIENTO DE NUESTRO SITIO, CUALQUIER COMPONENTE DE ÉSTE, O CUALQUIER SERVICIO OFRECIDO EN CONEXIÓN CON EL SITIO, ESTARÁ LIBRE DE INTERRUPCIONES O ERRORES; QUE LOS DEFECTOS EN EL SITIO SERÁN CORREGIDOS; O QUE NUESTRO SITIO O SERVIDOR NO TIENE VIRUS U OTROS ELEMENTOS PERJUDICIALES. AUNQUE Mi Mascota SE ESFUERZA POR PROPORCIONAR INFORMACIÓN ACTUAL, EXACTA Y CONFIABLE EN EL SITIO, NO GARANTIZA NI HACE NINGUNA DECLARACIÓN RESPECTO A LA EXACTITUD, FIABILIDAD O CUALQUIER USO DE INFORMACIÓN EN NUESTRO SITIO. USTED RECONOCE AL UTILIZAR NUESTRO SITIO QUE: (1) LA UTILIZACIÓN POR SU PARTE DE NUESTRO SITIO QUEDA BAJO SU EXCLUSIVA RESPONSABILIDAD; (2) USTED ASUME RESPONSABILIDAD TOTAL POR TODOS LOS COSTOS ASOCIADOS CON EL MANTENIMIENTO O LAS REPARACIONES NECESARIAS DE CUALQUIER EQUIPO QUE USTED USE EN RELACIÓN CON EL USO POR SU PARTE DE NUESTRO SITIO; Y (3) QUE Mi Mascota NO SE RESPONSABILIZARÁ DE CUALQUIER DAÑO DE CUALQUIER TIPO RELACIONADO CON EL USO O LA IMPOSIBILIDAD DE USO POR SU PARTE DE NUESTRO SITIO, INCLUSO ENTRE OTROS, DAÑOS DIRECTOS, INDIRECTOS, ESPECIALES, COMPENSATORIOS O RESULTANTES, LUCRO CESANTE Y/O PÉRDIDA O DAÑO A LA PROPIEDAD, INCLUSO SI SE LE HA NOTIFICADO A Mi Mascota SOBRE LA POSIBILIDAD DE TALES DAÑOS. USTED ACEPTA MANTENER INDEMNE Y EXIMIR DE RESPONSABILIDAD A Mi Mascota DE TODO RECLAMO, DAÑO, COSTOS Y GASTO, INCLUSO LOS HONORARIOS PARA ABOGADOS, PROVENIENTES DE LA UTILIZACIÓN DE NUESTRO SITIO O RELACIONADOS CON ELLA.
                </p>
            </div>
        </section>

        <%- include('../commons/footer.html'); %>
    </div>

    <%- include('../commons/scripts.html'); %>
</body>
<!--Body Ends-->
</html>
